.country {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}
.countryBox {
    display: flex;
}

.countryHeader {
    cursor: pointer;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 4px;
    transition: background-color 0.3s;
    flex: 1;
}

.countryHeader:hover {
    background-color: #d5d5d5;
}

.regionList {
    margin-top: 8px;
    padding-left: 15px;
}
